@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}

body {
  font-family: "Merriweather", serif;
}

.btn {
  border: 1px solid #014aa3 !important;
  transition: all 0.2s !important;
  color: #014aa3;

  .n-link {
    color: #014aa3 !important;
  }

  &:hover,
  &:focus {
    border: 1px solid #003c86 !important;
    background-color: #003c86 !important;
    color: #fff !important;

    .n-link {
      color: #fff !important;
    }
  }
}

.n-btn {
  text-transform: uppercase !important;
  color: #96d7ff !important;
  background-color: transparent !important;
  border: 1px solid #96d7ff !important;
  border-radius: 5px !important;
  transition: all 0.2s !important;

  &:hover {
    color: #014aa3 !important;
    border-color: #96d7ff !important;
    background-color: #fff !important;
    box-shadow: 1px 0 10px #96d7ff !important;
    text-shadow: 1px 0 15px #96d7ff !important;
    font-size: 16.1px !important;
  }
}

@media all and (max-width: 768px) {
  .shrink {
    padding: 10px 25px 0 25px !important;
  }
  header {
    padding: 10px 25px 0 25px !important;
    margin: 0 !important;
    label #sing-one {
      display: block !important;
    }

    nav {
      label #sing-one,
      label #sing-two {
        margin-top: 1px;
      }
      #res-menu:checked ~ ul {
        left: 0 !important;
      }
      #res-menu:checked ~ label #sing-one {
        display: none !important;
      }
      #res-menu:checked ~ label #sing-two {
        display: block !important;
      }

      ul {
        padding-top: 20px !important;
        margin-top: -15px;
        background-color: #122e50;
        position: fixed;
        width: 100%;
        top: 50px;
        left: -100% !important;
        text-align: center;
        transition: all 0.5s;
        z-index: -1;

        li {
          display: block !important;
          margin: 10px 0 !important;
          padding-top: 5px !important;
          .n-link {
            font-size: 16px;
          }
        }
      }
    }

    .div-btn {
      margin-top: 5px !important;
    }

    #mobile-icon {
      display: block;
    }
  }

  #container {
    margin-top: 100px;
    #sidebar-list {
      margin: 0;
    }
  }
  footer {
    text-align: center;

    #yunaltinus {
      flex-direction: column;
      text-align: center;
      margin: 0;
    }
  }

  // Product
  #product-container {
    margin-top: 100px;

    .main-container {
      .product-content {
        .top-area {
          flex-direction: column !important;
          .img-area {
            width: 100%;
            .full-size-image {
              .small-size-images-area {
                flex-wrap: nowrap;
                border: 1px solid peru;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  #product-list {
    #list-card {
      max-width: 100% !important;
    }
  }
}
